div.NewPost{
    span.Heading{
        font-size:2em;
        font-weight: bolder;
    }
    div.formfield{
        width:80%;
        margin:auto;
        padding:20px;
        border:1px solid grey;
        box-shadow: 0 0 4px grey;
        margin-top:20px;
        margin-bottom:20px;
        border-radius: 15px;
        & + div button{
            margin: auto;
        }
    }
    padding-bottom: 75px;
}